* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v9_140 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_141 {
  width: 160px;
  height: 180px;
  background: url("../images/v9_141.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 190px;
  overflow: hidden;
}
.v105_89 {
  width: 245px;
  height: 60px;
  background: rgba(145,233,255,1);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 822px;
}
.v9_144 {
  width: 879px;
  height: 40px;
  background: rgba(8,141,198,1);
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 371px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v9_147 {
  width: 859px;
  height: 40px;
  background: url("../images/v9_147.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 371px;
  overflow: hidden;
}
.v9_148 {
  width: 160px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 544px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v9_149 {
  width: 159px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v9_150 {
  width: 160px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 179px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v9_151 {
  width: 169px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 357px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v9_152 {
  width: 160px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 699px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v9_185 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 375px;
  left: 190px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v79_333 {
  width: 70px;
  height: 56px;
  background: url("../images/v79_333.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 1162px;
  overflow: hidden;
}
.v79_334 {
  width: 245px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 54px;
  left: 822px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v79_425 {
  width: 430px;
  height: 36px;
  background: rgba(211,211,211,1);
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 370px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v79_426 {
  width: 430px;
  color: rgba(67,67,67,1);
  position: absolute;
  top: 72px;
  left: 369px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v2001_186 {
  width: 160px;
  height: 180px;
  background: url("../images/v2001_186.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 190px;
  overflow: hidden;
}
.v2001_187 {
  width: 430px;
  height: 36px;
  background: rgba(211,211,211,1);
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 370px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v2001_188 {
  width: 245px;
  height: 60px;
  background: rgba(145,233,255,1);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 822px;
}
.v2001_189 {
  width: 879px;
  height: 40px;
  background: rgba(8,141,198,1);
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 371px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v2001_190 {
  width: 70px;
  height: 56px;
  background: url("../images/v2001_190.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 1162px;
  overflow: hidden;
}
.v2001_191 {
  width: 245px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 54px;
  left: 822px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v2001_192 {
  width: 430px;
  color: rgba(67,67,67,1);
  position: absolute;
  top: 72px;
  left: 369px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v2001_193 {
  width: 849px;
  height: 40px;
  background: url("../images/v2001_193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 371px;
  overflow: hidden;
}
.v2001_194 {
  width: 160px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 544px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v2001_195 {
  width: 159px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v2001_196 {
  width: 160px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 179px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v2001_197 {
  width: 169px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 357px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v2001_198 {
  width: 150px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 699px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v124_127 {
  width: 100%;
  height: 180px;
  background: rgba(0,143,205,1);
  opacity: 1;
  position: absolute;
  top: 844px;
  left: 8px;
  overflow: hidden;
}
.v124_128 {
  width: 288px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 866px;
  left: 657px;
  opacity: 1;
  text-align: left;
}
.v124_129 {
  width: 299px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 866px;
  left: 977px;
  opacity: 1;
  text-align: left;
}
.v124_130 {
  width: 420px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 866px;
  left: 205px;
  opacity: 1;
  text-align: left;
}
