* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v8_6 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_7 {
  width: 160px;
  height: 180px;
  background: url("../images/v8_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 190px;
  overflow: hidden;
}
.v8_23 {
  width: 881px;
  height: 40px;
  background: rgba(8,141,198,1);
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 371px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v8_25 {
  width: 849px;
  height: 40px;
  background: url("../images/v8_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 371px;
  overflow: hidden;
}
.v8_26 {
  width: 160px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 544px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v8_27 {
  width: 157px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v8_28 {
  width: 160px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 177px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v8_29 {
  width: 169px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 357px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v8_30 {
  width: 150px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 699px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v8_38 {
  width: 247px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 230px;
  left: 281px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v8_82 {
  width: 160px;
  height: 212px;
  background: url("../images/v8_82.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 288px;
  left: 370px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v8_84 {
  width: 160px;
  height: 212px;
  background: url("../images/v8_84.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 288px;
  left: 1030px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v8_86 {
  width: 160px;
  height: 212px;
  background: url("../images/v8_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 288px;
  left: 710px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v8_90 {
  width: 160px;
  height: 212px;
  background: url("../images/v8_90.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 587px;
  left: 954px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v8_91 {
  width: 159px;
  height: 212px;
  background: url("../images/v8_91.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 587px;
  left: 281px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v8_92 {
  width: 160px;
  height: 212px;
  background: url("../images/v8_92.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.9599999785423279;
  position: absolute;
  top: 587px;
  left: 630px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v9_80 {
  width: 134px;
  color: rgba(255,0,0,1);
  position: absolute;
  top: 370px;
  left: 235px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v9_82 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 512px;
  left: 190px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v9_81 {
  width: 154px;
  color: rgba(255,0,0,1);
  position: absolute;
  top: 370px;
  left: 553px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v9_83 {
  width: 146px;
  color: rgba(255,0,0,1);
  position: absolute;
  top: 375px;
  left: 877px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v9_86 {
  width: 154px;
  color: rgba(255,0,0,1);
  position: absolute;
  top: 693px;
  left: 800px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v9_84 {
  width: 160px;
  color: rgba(255,0,0,1);
  position: absolute;
  top: 683px;
  left: 460px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v67_147 {
  width: 100%;
  height: 180px;
  background: url("../images/v67_147.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 844px;
  left: 5px;
  overflow: hidden;
}
.v67_148 {
  width: 100%;
  height: 180px;
  background: rgba(0,143,205,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v67_149 {
  width: 487px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 487px;
  font-family: Inter;
  font-weight: Medium;
  opacity: 1;
  text-align: left;
}
.v67_150 {
  width: 460px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 974px;
  font-family: Inter;
  font-weight: Medium;
  opacity: 1;
  text-align: left;
}
.v67_151 {
  width: 450px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 9px;
  font-family: Inter;
  font-weight: Medium;
  opacity: 1;
  text-align: left;
}
.v79_335 {
  width: 245px;
  height: 60px;
  background: rgba(145,233,255,1);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 822px;
}
.v79_336 {
  width: 70px;
  height: 56px;
  background: url("../images/v79_336.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 1162px;
  overflow: hidden;
}
.v79_337 {
  width: 245px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 54px;
  left: 822px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v79_399 {
  width: 430px;
  height: 36px;
  background: rgba(211,211,211,1);
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 372px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v79_400 {
  width: 430px;
  color: rgba(67,67,67,1);
  position: absolute;
  top: 72px;
  left: 371px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v2001_161 {
  width: 160px;
  height: 180px;
  background: url("../images/v2001_161.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 190px;
  overflow: hidden;
}
.v2001_162 {
  width: 430px;
  height: 36px;
  background: rgba(211,211,211,1);
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 370px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v2001_163 {
  width: 245px;
  height: 60px;
  background: rgba(145,233,255,1);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 822px;
}
.v2001_164 {
  width: 879px;
  height: 40px;
  background: rgba(8,141,198,1);
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 371px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v2001_165 {
  width: 70px;
  height: 56px;
  background: url("../images/v2001_165.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 1162px;
  overflow: hidden;
}
.v2001_166 {
  width: 245px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 54px;
  left: 822px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v2001_167 {
  width: 430px;
  color: rgba(67,67,67,1);
  position: absolute;
  top: 72px;
  left: 369px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v2001_168 {
  width: 849px;
  height: 40px;
  background: url("../images/v2001_168.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 371px;
  overflow: hidden;
}
.v2001_169 {
  width: 160px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 544px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v2001_170 {
  width: 159px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v2001_171 {
  width: 160px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 179px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v2001_172 {
  width: 169px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 357px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v2001_173 {
  width: 150px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 699px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
