* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 2025px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_3 {
  width: 160px;
  height: 180px;
  background: url("../images/v1_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 190px;
  overflow: hidden;
}
.v1_4 {
  width: 430px;
  height: 36px;
  background: rgba(211,211,211,1);
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 370px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v1_61 {
  width: 245px;
  height: 60px;
  background: rgba(145,233,255,1);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 822px;
}
.v1_121 {
  width: 879px;
  height: 40px;
  background: rgba(8,141,198,1);
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 371px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v2_128 {
  width: 70px;
  height: 56px;
  background: url("../images/v2_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 1082px;
  overflow: hidden;
}
.v1_62 {
  width: 245px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 54px;
  left: 822px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v1_5 {
  width: 430px;
  color: rgba(67,67,67,1);
  position: absolute;
  top: 72px;
  left: 369px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v3_131 {
  width: 520px;
  height: 240px;
  background: url("../images/v3_131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 198px;
  left: 190px;
  overflow: hidden;
}
.v3_165 {
  width: 290px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 278px;
  left: 310px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v3_133 {
  width: 516px;
  color: rgba(0,79,69,1);
  position: absolute;
  top: 234px;
  left: 197px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v3_173 {
  width: 520px;
  height: 60px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 197px;
  left: 730px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v3_170 {
  width: 520px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 209px;
  left: 730px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v3_174 {
  width: 520px;
  height: 60px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 291px;
  left: 730px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v3_171 {
  width: 522px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 730px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v3_175 {
  width: 520px;
  height: 60px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 730px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v3_172 {
  width: 520px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 387px;
  left: 730px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v3_213 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 442px;
  left: 190px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v3_217 {
  width: 160px;
  height: 156px;
  background: url("../images/v3_217.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 469px;
  left: 190px;
  overflow: hidden;
}
.v3_218 {
  width: 160px;
  height: 159px;
  background: url("../images/v3_218.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 474px;
  left: 369px;
  overflow: hidden;
}
.v3_219 {
  width: 160px;
  height: 160px;
  background: url("../images/v3_219.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 465px;
  left: 910px;
  overflow: hidden;
}
.v3_220 {
  width: 166px;
  height: 156px;
  background: url("../images/v3_220.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 469px;
  left: 1084px;
  overflow: hidden;
}
.v3_221 {
  width: 159px;
  height: 159px;
  background: url("../images/v3_221.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 474px;
  left: 554px;
  overflow: hidden;
}
.v3_222 {
  width: 160px;
  height: 158px;
  background: url("../images/v3_222.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 475px;
  left: 729px;
  overflow: hidden;
}
.v3_223 {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 633px;
  left: 197px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v3_226 {
  width: 160px;
  height: 163px;
  background: url("../images/v3_226.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 673px;
  left: 197px;
  overflow: hidden;
}
.v3_227 {
  width: 160px;
  height: 160px;
  background: url("../images/v3_227.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 675px;
  left: 370px;
  overflow: hidden;
}
.v3_228 {
  width: 159px;
  height: 161px;
  background: url("../images/v3_228.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 675px;
  left: 543px;
  overflow: hidden;
}
.v3_229 {
  width: 160px;
  height: 160px;
  background: url("../images/v3_229.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 673px;
  left: 726px;
  overflow: hidden;
}
.v3_230 {
  width: 160px;
  height: 160px;
  background: url("../images/v3_230.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 672px;
  left: 908px;
  overflow: hidden;
}
.v3_231 {
  width: 160px;
  height: 160px;
  background: url("../images/v3_231.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 676px;
  left: 1090px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3_233 {
  width: 100%;
  height: 180px;
  background: rgba(0,143,205,1);
  opacity: 1;
  position: absolute;
  top: 1845px;
  left: 0px;
  overflow: hidden;
}
.v3_237 {
  width: 288px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1867px;
  left: 649px;
  opacity: 1;
  text-align: left;
}
.v3_238 {
  width: 299px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1867px;
  left: 969px;
  opacity: 1;
  text-align: left;
}
.v3_234 {
  width: 420px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1867px;
  left: 197px;
  opacity: 1;
  text-align: left;
}
.v26_339 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 835px;
  left: 190px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v26_340 {
  width: 710px;
  height: 439px;
  background: url("../images/v26_340.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 879px;
  left: 0px;
  overflow: hidden;
}
.v26_341 {
  width: 893px;
  height: 439px;
  background: url("../images/v26_341.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 879px;
  left: 730px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v26_343 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1349px;
  left: 190px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v26_361 {
  width: 610px;
  height: 432px;
  background: url("../images/v26_361.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1397px;
  left: 640px;
  overflow: hidden;
}
.v26_363 {
  width: 443px;
  height: 432px;
  background: url("../images/v26_363.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1397px;
  left: 197px;
  overflow: hidden;
}
.v37_20 {
  width: 849px;
  height: 40px;
  background: url("../images/v37_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 371px;
  overflow: hidden;
}
.v37_21 {
  width: 160px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 544px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v37_22 {
  width: 159px;
  color: rgba(249,255,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v37_23 {
  width: 160px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 179px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v37_24 {
  width: 169px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 357px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v37_25 {
  width: 150px;
  color: rgba(249,255,0,1);
  position: absolute;
  top: 0px;
  left: 699px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
